<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Diego Nobre">

    <title>{% block title %}XML Processor!{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('dist/css/all.min.css') }}" rel="stylesheet">
    {% endblock %}
</head>

<body>

<!-- Navigation -->
<nav class="mynavbar navbar navbar-fixed-top" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            <li>
                <a id="home" href="{{ path('homepage') }}" class="btn btn-primary" role="button">Home</a>
            </li>
            <li>
                <a id="home" href="{{ path('api_home') }}" class="btn btn-primary" role="button">API Docs</a>
            </li>
        </ul>
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">
    {% block body %}{% endblock %}
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; XML Processor {{ "now"|date('Y') }}</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>
</div>
<!-- /.container -->
{% block javascripts %}
    <script src="{{ asset('dist/js/all.min.js') }}"></script>
{% endblock %}
</body>
</html>
